body{

}

.homepage{
  width: 100%;
  height: 100vh;
  background:white;
  margin-left: 0;
}

.background{
  z-index: -3;
}

.background img{
  position: absolute;
  width: 100%;
  height: 100vh;
  /* filter: blur(5px); */
  opacity: 0.8;
}

.titleName {
  margin-top: 0vh;
  padding-left: 10vw;
  /* overflow: auto; */
  position: relative;
  z-index: 2;
}

.titleName p{
  text-align: left;
  font-size: 60px;
  color: black;
  opacity: 0.6;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
}
.categoriesHome{
  position: absolute;
  text-align: center;
  margin-top: 25vh;
  margin-left: 39vw;
  margin-bottom: 200px;
}

.categoriesHome img{
  text-align: center;
  width: 280px;
  height: 80px;
  padding-top: 0px;
  padding-bottom: 30px;
  z-index: 2;
}

.categoriesHome img:hover{
  opacity: 0.6;
}

.sampleWork{
  margin-top: 10vh;
  margin-right: 5vw;
  margin-bottom: 10vh;
  margin-left: 5vw;
  width: 90vw;
  height: 800px;
  /* text-align: center; */
  background: white;
  /* opacity: 0.75; */
}

.sampleWork img{
  text-align: center;
  float:left;
  padding-bottom: 60px;
  padding-left: 60px;
  width: 25vw;
  height: 25vw;
}

.sampleWork img:hover{
  opacity:0.6;
}

.aboutMeHomePage{
  width:100vw;
  height: 700px;
  background: white;
}

.aboutMeHomePage p{
  text-align: center;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 40px;
  border-top: 30px;
  color: black;
  opacity: 0.6;
}

.contactMeHomepage{
  width:100vw;
  height: 50vh;
  background:black;
  margin-top: 4vw;
  margin-left: 0vw;
  padding-top: 4vw;
}

.contactMeHomepage p{
  text-align: center;
  color: white;
}

/* photography page */

.photographyTitle{
  /* margin-bottom: 20vh; */
  padding-top: 0px;
}

.photographyTitle p{
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 80px;
  color: black;
}

.content{
  width: 100vw;
  height: 1000px;
  background: white;
  margin-right: 100px;
  margin-bottom: 4vw;
  text-align: center;
}

.contentImagePlacement{
  float:left;
  text-align:center;
  width: 20vw;
  height: 20vw;
  background: black;
  /* padding-top:8vw;
  padding-right:4vw;
  padding-left:8vw; */
  margin-top: 4vw;
  margin-right: 4vw;
  margin-bottom: 4vw;
  margin-left: 8vw;
}

.contentImagePlacement img{
  float: left;
  text-align: center;
  width: 20vw;
  height: 20vw;
  /* margin-top: 8vw;
  margin-right: 4vw;
  margin-left: 8vw; */
}

#biggerImg{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg:hover{
  opacity: 0.7;
}

#biggerImg2{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg2:hover{
  opacity: 0.7;
}

#biggerImg3{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg3:hover{
  opacity: 0.7;
}

#biggerImg4{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg4:hover{
  opacity: 0.7;
}

#biggerImg5{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg5:hover{
  opacity: 0.7;
}

#biggerImg6{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg6:hover{
  opacity: 0.7;
}

#biggerImg7{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg7:hover{
  opacity: 0.7;
}

#biggerImg8{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg8:hover{
  opacity: 0.7;
}

#biggerImg9{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#biggerImg9:hover{
  opacity: 0.7;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom{
  from{transform.scale(0)}
  to{transform:scale(1)}
}

.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover
.close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content{
    width:100%;
  }
}

.contentImagePlacement:hover{
  opacity: 0.8;
}

.next{
  margin-top: 1vw;
  margin-bottom: 4vw;
}
.next p{
  text-align: left;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 40px;
  padding-top: 20px;
  margin-left: 8vw;
  color: white;
  opacity: 0.6;
}

.next p:hover{
  opacity: 0.8;
}

.infographic{
  text-align: center;
  margin-bottom: 50px;
  width: 100vw;
  height: 60vh;
  background:white;
}

.infographic img{
  text-align: center;
  padding-top: 70px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  width: 800px;
  height: 60vh;
}

.aboutMeText{
  width: 80vw;
  height: 530px;
  background: black;
  margin-right: 10vw;
  margin-left: 10vw;
}

.aboutMeText p{
  text-align: center;
  line-height: 30px;
  padding-top: 85px;
  padding-right: 30px;
  padding-bottom: 85px;
  padding-left: 30px;
  font-family: Helvetica;
  font-size: 15px;
  color:white;
}

.contactMethods{
  width: 60vw;
  height: 930px;
  background: black;
  margin-top: 100px;
  margin-right: 20vw;
  margin-bottom: 150px;
  margin-left: 20vw;
  text-align: center;
}

.contactMethods p{
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  font-size: 20px;
  line-height: 93px;
  font-family: Arial,Helvetica,sans-serif;
}

.contactMethods p: hover{
  opacity: 0.6;
}
