body{
  background-color: black;
  margin: 0;
}

.Title{
  text-align:center;
  font-family: Helvetica;
  font-size: 60px;
  margin-top: 100px;
  color: orange;
}

.headings{
  text-align: left;
  /* float: left; */
  font-family: serif;
  color: pink;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 150px;
  font-size: 40px
}

.subtext{
  text-align: center;
  font-family: serif;
  color: white;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 180px;
  font-size: 30px;
}

.navigation{
  float: left;
  width: 22vw;
  height: 100px;
  background-color: lightgrey;
  font-family: serif;
  margin-top: 2vw;
  /* margin-bottom: 8vw; */
  margin-left: 2vw;
  z-index: 1;
}

.rectangle{
  width: 100vw;
  height: 150px;
  background-color: white;
  margin-top: 8vw;
  margin-bottom: 8vw;
  z-index: -1;
  /* text-align: center; */
}

.navigation p{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: sans-serif;
  /* padding-top: -10px; */
}

.bottom{
  width: 100vw;
  height: 20vw;
}
