body{
  background-color: black;
  margin: 0;
}

#Title{
  text-align:center;
  font-family: Helvetica;
  font-size: 60px;
  margin-top: 100px;
  color: orange;
}

.headings{
  text-align: left;
  /* float: left; */
  font-family: serif;
  color: pink;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 150px;
  font-size: 40px
}

.subtext{
  text-align: center;
  font-family: serif;
  color: white;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 180px;
  font-size: 30px;
}
